<footer style="height: 40px;background-color: #1b203d;padding-top: 1px;">
  <p style="color:white;" ><span style="float:left;"><span style="color:red;">Wealth</span> Suite</span></p>
  <p style="color:white;"><span style="float:right;">SD <span style="color:red;">Team</span></span></p>
</footer>