<footer style="height: 40px;background-color: #1b203d;padding-top: 1px;">
  <p style="color:white;" ><span style="float:left;"><span style="color:red;">Wealth</span> Suite</span></p>
  <center><marquee width="40%" style="color:white;" direction="right" scrollamount="30" height="30%">
    Environment details will get refreshed for every 2 minutes... 
</marquee></center>
  <p style="color:white;"><span style="float:right;">SD <span style="color:red;">Team</span></span></p>
</footer>
