<div style="background-color: #1b203d;">
<%= render 'shared/top_nav_bar'%>
</div>
<div style="padding-top: 45px;background-color: #1b203d;">
</div>
<hr width="70%"style="padding-top: 2px;color:blue;">
<hr width="98%" style="padding-top: 2px;color:blue;">
<center>
<%=render 'shared/index_view'%>
</center>
<div style="background-color:#1b203d;">
<%= render 'shared/footer'%>
</div>